@padding-top-mobile: 104px;
@padding-bottom-mobile: 29px;


.cta-form {
  background-color: @blue-2;

  border-bottom-right-radius: @radius-4;
  border-bottom-left-radius: @radius-4;
}

.cta-form__inner {
  padding-top: @padding-top-mobile;
  padding-bottom: @padding-bottom-mobile;
}

.cta-form__title {
  margin-bottom: 18px;
}

.cta-form__text {
  width: 210px;
  margin-bottom: 30px;

  text-align: center;

  &:last-of-type {
    margin-bottom: 18px;
  }
}

.cta-form__input {
  margin-bottom: 28px;
}

.cta-form__login-form {
  position: relative;
}

.cta-form__login-link {
  color: @yellow-1;

  &:hover {
    color: @yellow-3;
  }

  &:focus,
  &:active {
    color: rgba(@yellow-3, 0.3);
  }
}

.cta-form__button {
  position: absolute;

  top: 0;
  right: 0;

  width: 60px;
  height: 62px;

  font-size: 0;
}

.cta-form__contacts {
  align-self: flex-start;

  color: @yellow-1;
}
