@padding-top-mobile: 38px;
@padding-bottom-mobile: 14px;


.footer {
  position: relative;
  z-index: 1;
  margin-top: -@radius-4;

  background-color: #ffffff;
  border-top-right-radius: @radius-4;
  border-top-left-radius: @radius-4;
}

.footer__inner {
  padding-top: @padding-top-mobile;
  padding-bottom: @padding-bottom-mobile;
}

.footer__logo {
  margin-bottom: 38px;
}

.footer__socials {
  justify-content: center;
  width: 100%;
  margin-bottom: 13px;
  padding-bottom: 37px;
  border-bottom: 1px solid rgba(#000000, 0.05);
}
